state_machine_jsons/t16_condition_test.json
{
  "Comment": "A demo of Choice state for Team 16",
  "StartAt": "is_even",
  "States": {
    "is_even": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:767904627276:function:t16_check_is_even",
      "Next": "select_next_state"
    },
    "select_next_state": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.is_even",
          "BooleanEquals": true,
          "Next": "calculate_product"
        },
        {
          "Variable": "$.is_even",
          "BooleanEquals": false,
          "Next": "calculate_addition"
        }
      ]
    },
    "calculate_product": {
      "Type": "Task",
      "Resource": "arn:aws:states:us-east-1:767904627276:activity:t16_product",
      "Next": "random_exception"
    },
    "calculate_addition": {
      "Type": "Task",
      "Resource": "arn:aws:states:us-east-1:767904627276:activity:t16_addition",
      "Next": "random_exception"
    },
    "random_exception": {
      "Type": "Task",
      "Resource": "arn:aws:states:us-east-1:767904627276:activity:t16_random_exception",
      "Retry": [{
        "ErrorEquals": [ "States.TaskFailed" ],
        "IntervalSeconds": 3,
        "MaxAttempts": 3,
        "BackoffRate": 1.5
      }],
      "End": true
    }
  }
}